* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Roboto' sans-serif;
  }
  
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
    line-height: 70px;
    position: fixed;
    width: 100%;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline-block;
    padding-left: 30px;
  }
  
  header a .logo {
    float: left;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: all .5s ease-in;
  }
  
  header nav ul li a:hover {
    color: gray;
    text-decoration: none;
  }
  
  /* HEADER  */

  #mainContent {
    background: url(../img/bg.png);
    background-size: cover;
  }
  
  .mainArea {
    margin-top: 170px;
  }
  
  .mainArea h1 {
    font-size: 36px;
    color: darkred;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .mainArea h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .mainArea p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .btn-success {
    background-color: #c61f27;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 60px;
  }
  
  /* MAİN CONTENT */

  #services {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .servicesTop h1 {
    color: #c61f27;
    font-size: 36px;
  }
  
  .servicesTop p {
    color: #000;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 40px;
  }
  
  .fa {
    color: #c61f27;
  }
  
  .servicesContent h2 {
    color: #c61f27;
    font-weight: 400;
    font-size: 24px;
  }
  
  /* SERVİCES  */

  #works {
    background: url('../img/bg2.jpg');
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #works h1{
    color: #fff;
    font-size: 36px;
  }
  
  .worksTop p {
    color: #fff;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 40px;
  }
  
  .worksContent img {
    width: 300px;
    height: auto;
  }
  
  /* WORKS */